<!-- Navbar -->
{% load static  %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/essika.png'  %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li 
          {% if '/' == request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Acceuil</a>
          </li>
          <li 
          
          {% if 'about' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          
          >
            <a class="nav-link" href="{% url 'about' %}" >Qui sommes nous</a>
          </li>
          <li 
          
          {% if 'listings' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          
          >
            <a class="nav-link" href=" {% url 'listings:listings' %}  ">Propriétés</a>
          </li>

        
          <li 
          
          {% if 'add_property' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          
          >
          
    <a class="nav-link" href=" {% url 'listings:add_property' %}  ">Ajouter une propriété</a>
     
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">

          {% if request.user.is_authenticated %}

          <li class="nav-item dropdown"
          {% if 'dashboard' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          >
            <a  class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{user.username}}</a>
               <div class="dropdown-menu" aria-labelledby="dropdown-a">
                <a class="dropdown-item" href="{%  url 'accounts:dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="{% url 'realtors:profile' %}">Profile</a>
                </div>
          </li>

          <li class="nav-item mr-3">
            <a class="nav-link" href="javascript:{ document.getElementById('logout').submit() }">
              <i class="fas fa-sign-in-alt"></i> Log Out</a>

              <form action="{% url 'account_logout'  %}" id="logout" method="POST" > 
                {% csrf_token  %}
                <input type="hidden">
              </form>

          </li>


          {% else  %}

          <li 
          {% if 'register' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{%  url 'account_signup'    %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li 
          {% if 'login' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
          
          >
            <a class="nav-link" href="{% url 'account_login'  %}">
              <i class="fas fa-sign-in-alt"></i>

              Login</a>
          </li>
          {% endif  %}
        </ul>
      </div>
    </div>
  </nav>