{% extends 'base.html'  %}
{% block title %} | Browse Properties {% endblock %}  
{% load humanize  %}

{% block content  %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Bienvenu sur le profil de {{ realtor.name}} </h1>
        <p class="lead">Vous trouverez tout sur cet agent ici.</p>
      </div>
    </div>
  </div>
</section>


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href=" {% url 'index'  %} ">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Listings</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if realtor  %}

    

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            {% if realtor.photo  %}
            <img class="card-img-top" src=" {{realtor.photo.url}}  " alt="photo">
            {% endif %}
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white"> {{realtor.user.username }}   </span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary"> Description : {{realtor.description}}    </h4>
                <h4 class="text-primary">Date de recrutement : {{realtor.hire_date}}    </h4>
                {% if realtor.website_url %} :
                <h4 class="text-primary"> Website : {{realtor.website_url}}    </h4>
                {% endif %}
                {% if realtor.facebook_url %} :
                  <h4 class="text-primary"> Facebook : {{realtor.facebook_url}}    </h4>
                {% endif %}
                {% if realtor.instagram_url %} :
                  <h4 class="text-primary">Instagram : {{realtor.instagram_url}}    </h4>
                  {% endif %}
                  {% if realtor.twitter_url %} :
                  <h4 class="text-primary">Twitter : {{realtor.twitter_url}}    </h4>
                  {% endif %}
                  {% if realtor.linkedin_url %} :
                  <h4 class="text-primary">Linked_in : {{realtor.linkedin_url}}    </h4>
                  {% endif %}
               
               
             
              </div>
              <hr>

        {% else %}
          <div class="col-md-12">
            <h1>Aucun bien immobilier disponible</h1>
          </div>
        {% endif   %}

      </div>

      
        </div>
      </div>
    </div>
    </div>
  </section>


{% endblock  %}